'context-menu':
  'atom-text-editor': [
    {
      'label': 'Copy code screenshot to clipboard'
      'command': 'carbon:copy'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Carbon'
      'submenu': [
        {
          'label': 'Copy code screenshot to clipboard'
          'command': 'carbon:copy'
        }
      ]
    ]
  }
]
